<div class="card container__big-card">
  <div class="row g-0">
    <div class="col-md-3 big-card__photo d-flex align-items-center">
      <div class="pohto__cover" style="background-image: url({{photoCover}});"></div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <p class="card-text"><small class="text-muted">Adicionado há 3 min</small></p>
        <h5 class="card-title"><a [routerLink]="['content', id]" >{{ cardTitle }}</a></h5>
      </div>
    </div>
  </div>
  <hr class="pb-0 mb-0" />
</div>
