<div class="card container__big-card">
  <div class="big-card__photo">
    <img class="bd-placeholder-img card-img-top"
      src="https://i.ytimg.com/vi/WglKZ3d1__I/maxresdefault.jpg"
      alt="">
  </div>

  <div class="card-body">
    <div class="card-text">
      <p><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>

    <div class="card-title big-card__title">
      <h5>Saiu a nova versão do Angular</h5>
    </div>

    <div class="card-text big-card__description">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Quo reiciendis velit maiores quisquam reprehenderit mollitia,
        repellendus cumque maxime quasi! Laborum obcaecati ipsum eaque exercitationem commodi,
        amet magni aspernatur aut necessitatibus?</p>
    </div>
  </div>
</div>
