/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111 !important;
  color: #FFF;
  font-family: 'segoe UI';
}
body{
  background-color: #111 !important;
}
.whitespace {
  border-right: 2px solid red;
  animation: cursor .5s infinite !important;
  text-transform: capitalize;
}

@keyframes cursor {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}
